@page "/inventories"

@inject NavigationManager NavigationManager

<h3>Lista de Items do Inventário</h3>
<br />
<SearchInventoryComponent OnSearchInventory="OnInventorySearch"></SearchInventoryComponent>
<br/>

   <InventoryListComponent SearchTerm="@searchTerm"></InventoryListComponent>
   <br/>
   <button 
       type="button" 
       class="btn btn-primary"
       @onclick="AddInventory">Adicionar Item</button>

@code {
    private string searchTerm = string.Empty;

    private void OnInventorySearch(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddInventory()
    {
        NavigationManager.NavigateTo("/addinventory");
    }
}
