@inject NavigationManager NavigationManager

@if (Inventories != null && Inventories.Count > 0 )
{
    @foreach (var inv in Inventories)
    {
        <tr>
            <td>@inv.InventoryName</td>
            <td>@inv.Quantity</td>
            <td>@inv.Price.ToString("c")</td>
            <td>
                <button type="button"
                    class="btn btn-light" @onclick="@(() => EditInventory(inv.InventoryId))">
                Editar
                </button>
            </td>
        </tr>
    }
}

@code {

    [Parameter]
    public List<Inventory> Inventories { get; set; } = new List<Inventory>();

    private void EditInventory(int inventoryId)
    {
        NavigationManager.NavigateTo($"/editinventory/{inventoryId}");
    }

}
